* {
  outline: none;
  font-family: "Adwaita Sans";
  font-size: 18px;
  text-shadow: none;
  color: #c2c4c8;
  background-color: transparent;
  background: transparent;
}

.control-center {
  background-color: rgba(13, 21, 38, 0.8);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
  padding: 5px;
}

.control-center .notification-row .notification-background {
  border-radius: 15px;
  margin-top: 5px;
}

.notification {
  background-color: rgba(13, 21, 38, 0.8);
}

.notification > *:last-child > * {
  margin: 5px;
}

.summary {
  font-size: 1.1rem;
}

.time {
  font-size: 0.8rem;
}

.body {
  font-size: 1rem;
}

.notification-content {
  padding: 15px 10px 10px 20px;
}

.notification-action > button {
  padding: unset;
  margin: unset;
}

.notification-action > label {
  font-size: 1rem;
  font-weight: normal;
}

.notification.critical {
  background-color: rgba(89, 116, 139, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
}

.notification.low,
.notification.normal {
  background-color: rgba(13, 21, 38, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
}

.close-button {
  background-color: rgba(194, 196, 200, 0.8);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
}

.close-button:hover {
  background-color: rgba(89, 116, 139, 0.8);
}

.notification-group-header,
.notification-group-icon {
  font-size: 0.9rem;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
  background-color: #c2c4c8;
}

.notification-group-collapse-button:hover {
  background-color: rgba(54, 161, 204, 0.8);
}

.notification-group-close-all-button:hover {
  background-color: rgba(89, 116, 139, 0.8);
}

trough highlight {
  background: #36A1CC;
}

scale trough {
  margin: 0rem 1rem;
  background-color: #c2c4c8;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #c2c4c8;
}

tooltip {
  background-color: #c2c4c8;
}

/*** Widgets ***/
/* Buttons widget */
.widget-buttons-grid {
  font-size: 1rem;
  padding: 20px 20px 10px;
  margin: unset;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: #36A1CC;
  box-shadow: 0px 0px 10px rgba(13, 21, 38, 0.8);
  border-radius: 12px;
  min-width: 60px;
  min-height: 30px;
  padding: 6px;
  margin: 0 3px 0;
  transition: all 0.5s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: #36A1CC;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: #4C58AE;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
  background: rgba(54, 161, 204, 0.8);
}

/* Mpris widget */
.widget-mpris .widget-mpris-player {
  padding: 16px;
  margin: 16px 20px;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0px 8px 8px 8px;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
  font-size: 1rem;
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.widget-mpris > box > button:hover {
  background: rgba(54, 161, 204, 0.6);
}

/* Volume widget */
.widget-volume {
  padding: 6px 5px 5px 5px;
  margin: unset;
  font-size: 1.3rem;
}

.widget-volume > box > button {
  border: none;
}

.per-app-volume {
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
}

/* Backlight widget */
.widget-backlight {
  padding: 0 0 3px 16px;
  margin: unset;
  font-size: 1.1rem;
}

/* DND widget */
.widget-dnd {
  font-weight: bold;
  margin: unset;
  padding: 20px 15px 15px 15px;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 100px;
  background: #659098;
  border: none;
  box-shadow: none;
  padding: 3px;
}

.widget-dnd > switch:checked {
  background: #4C58AE;
}

.widget-dnd > switch slider {
  background: #0D1526;
  border-radius: 12px;
  min-width: 18px;
  min-height: 18px;
}

/* Title widget */
.widget-title {
  padding: unset;
  margin: unset;
  font-weight: bold;
  padding: 15px;
}

.widget-title > label {
  font-size: 1.5rem;
}

.widget-title > button {
  padding: unset;
  margin: unset;
  text-shadow: none;
  background: #59748B;
  border: none;
  box-shadow: none;
  border-radius: 100px;
  padding: 0px 6px;
  transition: all 0.7s ease;
}

.widget-title > button:hover {
  background: rgba(89, 116, 139, 0.8);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
}

/*# sourceMappingURL=style.css.map */
